/* line 10, ../sass/_layout.scss */
.todolist {
  padding: 1rem;
  color: #FFF;
  background-color: #000;
}
/* line 16, ../sass/_layout.scss */
.todolist .list-item {
  padding: 1rem;
  border: 1px solid #FFF;
  margin: 1rem;
}
/* line 20, ../sass/_layout.scss */
.todolist .list-item:hover {
  border: 3px solid #FFF;
  cursor: pointer;
}
/* line 25, ../sass/_layout.scss */
.todolist .complete {
  background-color: green;
}
/* line 30, ../sass/_layout.scss */
.todolist .delete-button {
  display: none;
  color: #FFF;
  background-color: #000;
}
