/* line 1, ../sass/_layout.scss */
* {
  box-shadow: 0 0 1px red;
}

/* line 14, ../sass/_layout.scss */
.done {
  color: green;
}

/* line 18, ../sass/_layout.scss */
body {
  height: 100vh;
  color: #FFF;
  background-image: linear-gradient(#34ccdd, #00249E 20%, black 70%);
}

/* line 26, ../sass/_layout.scss */
.todolist {
  text-align: center;
  min-width: 280px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
/* line 34, ../sass/_layout.scss */
.todolist .list-add {
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #FFF;
  background-color: #1f232e;
}
/* line 41, ../sass/_layout.scss */
.todolist .list-add .add-content {
  border: none;
  width: 80%;
  padding: 0.2rem 1rem;
  color: #FFF;
  outline: none;
  background-color: #1f232e;
}
/* line 51, ../sass/_layout.scss */
.todolist .list-add .add-confirm {
  text-align: center;
  display: inline-block;
  width: 19%;
  color: #FFF;
}
/* line 59, ../sass/_layout.scss */
.todolist .list-filter {
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.3rem;
  display: flex;
  justify-content: space-around;
  border: 1px solid #FFF;
  border-radius: 0.3rem;
}
/* line 68, ../sass/_layout.scss */
.todolist .list-filter a {
  color: #6cedff;
  padding: 0.3rem 1rem;
}
/* line 71, ../sass/_layout.scss */
.todolist .list-filter a:hover {
  color: #FFF;
  text-decoration: none;
}
/* line 75, ../sass/_layout.scss */
.todolist .list-filter a.active {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #FFF;
  border-radius: 0.3rem;
}
/* line 83, ../sass/_layout.scss */
.todolist .preview {
  background-color: #000;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}
/* line 92, ../sass/_layout.scss */
.todolist .list-item {
  text-align: left;
  margin-bottom: 0.5rem;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0.3rem 1rem;
}
/* line 98, ../sass/_layout.scss */
.todolist .list-item .list-status {
  text-align: center;
}
/* line 100, ../sass/_layout.scss */
.todolist .list-item .list-status:hover {
  cursor: pointer;
}
/* line 104, ../sass/_layout.scss */
.todolist .list-item .list-edit {
  border: 1px solid #FFF;
  background-color: #1f232e;
  color: #FFF;
}
/* line 111, ../sass/_layout.scss */
.todolist .list-item .list-delete {
  color: #6cedff;
  text-align: center;
}
/* line 113, ../sass/_layout.scss */
.todolist .list-item .list-delete:hover {
  color: #FFF;
  text-decoration: none;
}
