$color-complete: green;
$color-complete-focus: lightgreen;
$color-invalid: red;
$color-border: #DDD;

.add-validate {
	color: $color-invalid;
}
.list-item {
	margin: 0.5rem;
	padding: 0.5rem;
	.list-done {		
		margin-left: 1rem;
		margin-right: 1rem;
		&:hover {
			cursor: pointer,
		}
	}
	.list-delete {
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0.5rem;
		border: 1px solid $color-border;
		border-radius: 5px;
		text-align: center;
		display: none;
		&:hover {
			cursor: pointer;
			color: $color-complete-focus;
		}
	}
	&.complete {
		color: $color-complete;
		.list-content {
			text-decoration: line-through;
		}
		.list-delete {
			display: inline;
		}
	}	
}
