$space-lg: 2rem;
$space-md: 1rem;
$space-sm: 0.5rem;
$main-bg: #000;
$complete-bg: green;
$main-text-color: #FFF;
$main-border-color: #FFF;
$delete-color: #000;

.todolist {
	padding: $space-md;
	color: $main-text-color;
	background: {
		color: $main-bg;
	}
	.list-item {
		padding: 1rem;
		border: 1px solid $main-border-color;
		margin: $space-md;
		&:hover {
			border: 3px solid $main-border-color;
			cursor: pointer;
		}
	}
	.complete {
		background: {
			color: $complete-bg;
		}
	}
	.delete-button {
		display: none;
		color: $main-text-color;
		background: {
			color: $delete-color;
		}
	}
}