<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Vue To Do List</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	</head>
	<body>
		
		<div id="todolist">
			<div class="list-add">
				<p>Create a new Todo:</p>
				<textarea v-model="preview" class="add-content" placeholder="What to do?"></textarea>
				<a href="#" @click="createList" class="add-confirm">Add</a>
			</div>
			<div class="list-filter">
				<a href="#" @click="toggleListFilter('Done')" class="list-done">Done</a>
				<a href="#" @click="toggleListFilter('Ongoing')" class="list-ongoing">Ongoing</a>
				<a href="#" @click="toggleListFilter('All')" class="list-all">All</a>
			</div>
			<p class="preview">{{preview}}</p>
			<div v-for="(item, index) in listItems" class="list-item">
				<template v-if="filterList(item)">
					<span @click="toggleListStatus(index)" :class="{active: item.status === 'Done'}" class="list-status">{{item.status}}</span>
					<span @click="editList(index)" v-show="!item.onEdit" class="list-content">{{item.content}}</span>
					<input @blur="editList(index)" v-model="item.content" :value="item.content" v-show="item.onEdit" class="list-edit">
					<a href="#" @click="deleteList(index)" class="list-delete">Delete</a>
				</template>
			</div>
		</div>



		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<!-- Vue.js -->
		<script src="js/vue.js"></script>
		<!-- Custom JS -->
		<script src="js/main.js"></script>
	</body>
</html>